# Google Analytics 4
PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Microsoft Clarity
PUBLIC_CLARITY_ID=XXXXXXXXXX

# Cloudflare Analytics
PUBLIC_CLOUDFLARE_BEACON_TOKEN=XXXXXXXXXX

# Giscus Comments
PUBLIC_GISCUS_REPO=
PUBLIC_GISCUS_REPO_ID=
PUBLIC_GISCUS_CATEGORY=
PUBLIC_GISCUS_CATEGORY_ID=
