{
  "settings": {
    "jsx-a11y": {
      "components": {
        "Link": "a"
      }
    }
  },
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:tailwindcss/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:sonarjs/recommended",
    "prettier"
  ],
  "plugins": ["tailwindcss"],
  "ignorePatterns": ["jest.config.js"]
}
