{
	"extends": [
		"next/core-web-vitals",
		"plugin:@typescript-eslint/recommended",
		"plugin:tailwindcss/recommended",
		"prettier"
	],
	"plugins": ["tailwindcss"],
	"rules": {
		"jsx-a11y/anchor-is-valid": [
			"error",
			{
				"components": ["Link"],
				"specialLink": ["hrefLeft", "hrefRight"],
				"aspects": ["invalidHref", "preferButton"]
			}
		]
	}
}
